.detail-news {
    &__img {
        border: 1px solid $gray;
        margin-bottom: 30px;

        img {
            display: block;
            width: 100%;
            border: none;
            margin-right: 0;
        }
    }

    &__date {
        color: $red;
        font-size: 14px;
        padding-bottom: 10px;
    }

    &__text {
        p {
            padding-bottom: 25px;
        }
    }
}
