.pagination {
    text-align: center;
    padding: 20px 0;

    &__item {
        display: inline-block;
        padding: 0 5px;
    }

    &__link {
        width: 36px;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $black-light;
        text-decoration: none;
        font-weight: 400;
        font-size: 20px;
        color: $black-light !important;
        transition: 0.2s;
        cursor: pointer;

        &:hover {
            background-color: $red;
            color: $white !important;
            border: 1px solid $red;
        }

        &_current {
            background-color: $white;
            color: $red !important;
            border: 1px solid $red;
            cursor: default;

            &:hover {
                background-color: $white;
                color: $red !important;
                border: 1px solid $red;
            }
        }

        &:after {
            content: none !important;
        }
    }
}
