.top-menu {
    font-weight: 700;
    font-size: 18px;
    width: 100%;

    &__menu {
        display: flex;
        justify-content: space-between;
        margin-left: 5px;
    }

    &__element {
        position: relative;

        &:hover {
            .top-menu__link {
                &:before {
                    border: 3px solid $red;
                }

                & + .top-menu__inner {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        &:hover + .top-menu__element {
            .top-menu__link {
                &:before {
                    border: 3px solid $red;
                }
            }
        }

        &_parent {
            .top-menu__link {
                &:after {
                    content: '';
                    position: absolute;
                    height: 20px;
                    width: 100%;
                    position: absolute;
                    display: block;
                    left: 0;
                    bottom: -10px;
                    background-color: $white;
                    opacity: 0;
                    visibility: hidden;
                    transition: 0.2s;
                }
            }

            &:hover {
                .top-menu__link {
                    box-shadow: 0 3px 8px $gray-dark;

                    &:before {
                        border: 3px solid $black;
                    }

                    &:after {
                        opacity: 1;
                        visibility: visible;
                    }
                }

                & + .top-menu__element {
                    .top-menu__link {
                        &:before {
                            border: 3px solid $black;
                        }
                    }
                }
            }
        }
    }

    &__link {
        padding: 20px 15px;
        display: inline-block;
        @include link;
        margin: 0 7px;
        transition: 0.2s;
        z-index: 1;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: 27px;
            left: -17px;
            border-radius: 100%;
            border: 3px solid $black;
            transition: 0.2s;
        }
    }

    &__line {
        height: 2px;
        width: 100%;
        background-color: $red;
        display: block;
        transition: 0.2s;

        & + .top-menu__line {
            margin-top: 5px;
        }
    }

    &__menu-button {
        display: none;
        width: 40px;
        background-color: $white;
        border: 1px solid $red;
        padding: 8px;
        box-sizing: border-box;
        border-radius: 3px;
        outline: none;
        display: inline-block;
        transition: 0.2s;

        &_active {
            background-color: $red;

            .top-menu__line {
                background-color: $white;
            }

            .top-menu__line:nth-child(1){
            	transform: translate(0, 7px) rotate(-45deg) scalex(1.5);
            }

            .top-menu__line:nth-child(2){
            	opacity: 0;
            }

            .top-menu__line:nth-child(3){
                transform: translate(0, -7px) rotate(45deg) scalex(1.5);
            }
        }
    }

    &__inner {
        position: absolute;
        width: 250px;
        background-color: white;
        padding: 10px 7px;
        transition: 0.2s;
        opacity: 0;
        visibility: hidden;
        left: 7px;
        top: 100%;
        box-shadow: 0 0 15px $gray-dark;
    }

    &__inner-link {
        font-size: 16px;
        font-weight: 400;
        color: $black;
        text-decoration: none;
        padding: 10px 15px;
        display: block;
        border-radius: 3px;
        border: 1px solid transparent;
        transition: 0.2s;

        &:hover {
            border: 1px solid $red;
            color: $red;
        }
    }
}

@media (max-width: $small-device-width-point) {
    .top-menu {
        font-size: 16px;

        &__link {
            padding: 20px 10px;

            &:before {
                top: 25px;
                left: -10px;
            }
        }
    }
}

@media (max-width: $tablet-width-point) {
    .top-menu {
        font-size: 15px;

        &__menu {
            align-items: stretch;
        }

        &__element {
            display: flex;
            align-items: stretch;
            text-align: center;
        }

        &__link {
            display: flex;
            align-items: center;
            padding: 20px 8px;

            &:before {
                top: 33px;
            }
        }
    }
}

@media (max-width: $mobile-width-point) {
    .top-menu {
        font-size: 19px;

        &__menu {
            display: none;
        }

        &__element {
            width: 100%;
            display: block;
            text-align: center;
        }

        &__link {
            display: block;
            padding: 14px 0;

            &:before {
                content: none;
            }

            &:active, &:focus {
                background-color: $red;
                color: $white;
            }
        }

        &__inner {
            position: relative;
            width: 100%;
            box-sizing: border-box;
            display: none;
        }
    }
}
