.services {
&__row {
        @include row;
    }

    &__service {
        & + .services__service {
            border-left: 1px solid $gray;
        }
    }
}

@media (max-width: $tablet-width-point) {
    .services {
        border-left: none;
        border-right: none;

        &__service {
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 35px !important;

            & + .services__service {
                border-left: none;
                border-top: 1px solid $gray;
            }
        }
    }
}

@media (max-width: $mobile-width-point) {
    .services {
        &__service {
            padding-left: 20px !important;
        }
    }
}
