.step {
    display: flex;

    &__img {
        min-width: 78px;
        width: 78px;
        height: 78px;
        margin-right: 20px;
        position: relative;

        img {
            border-radius: 100%;
            width: 100%;
        }

        &:before {
            counter-increment: steps;
            content: counter(steps);
            width: 24px;
            height: 24px;
            border-radius: 100%;
            background-color: $red;
            color: $white;
            display: inline-block;
            position: absolute;
            bottom: 0;
            right: 0;
            text-align: center;
            padding-top: 3px;
            box-sizing: border-box;
            font-size: 18px;
            font-weight: 700;
        }
    }
}

@media (max-width: $mobile-width-point) {
    .step {
        &__img {
            min-width: 58px;
            width: 58px;
            height: 58px;
        }
    }
}
