@import './reset';

@font-face {
  font-family: 'icomoon';
  src:  url('./../fonts/icomoon.eot?3vnuha');
  src:  url('./../fonts/icomoon.eot?3vnuha#iefix') format('embedded-opentype'),
    url('./../fonts/icomoon.ttf?3vnuha') format('truetype'),
    url('./../fonts/icomoon.woff?3vnuha') format('woff'),
    url('./../fonts/icomoon.svg?3vnuha#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-magnifying-glass:before {
  content: "\e900";
}
.icon-phone-call:before {
  content: "\e901";
}
.icon-email:before {
  content: "\e902";
}

body {
    font-family: 'Roboto Condensed';
    background-color: $gray-light;
    font-weight: 300;
}

b {
    font-weight: 400;
}

::selection {
    background-color: $red;
    color: $white;
}
