$mobile-width-point-min: 768px;
$tablet-width-point-min: 992px;
$small-device-width-point-min: 1170px;

$small-mobile-width-point: 374px;
$mobile-width-point: 767px;
$tablet-width-point: 991px;
$small-device-width-point: 1199px;

$mobile-width: 320px;
$tablet-width: 730px;
$small-device-width: 970px;
$large-device-width: 1200px;

$columnsQuantity: 24;




$white: #ffffff;
$gray: #dddddd;
$gray-light: #f7f7f7;
$gray-light2: #f1f1f1;
$gray-dark: #dbdbdb;
$black-light: #989898;
$black: #000000;
$red: #bb222b;
$red-dark: #a3131b;
