.info-block {
    font-size: 16px;

    &__logo {
        width: 40px;
        float: left;

        img {
            max-width: 70%;
            position: relative;
            top: -2px;
        }
    }

    &__header {
        font-weight: 400;
        @include clearfix;
        padding-bottom: 5px;
    }

    &__text {
        text-align: justify;
    }

    b {
        font-weight: 700;
    }

    & + .info-block {
        padding-top: 25px;
    }
}
