.list-products {
    @include row;
    align-items: stretch;
    border-top: 1px solid $gray;
    border-left: 1px solid $gray;

    &__product {
        @include col(12, 12, 6, 6);
        padding: 0;
        border-right: 1px solid $gray;
        border-bottom: 1px solid $gray;
    }

    &_one-row {
        border-top: none;

        .list-products__product {
            border-top: 1px solid $gray;
        }
    }
}

@media (max-width: $tablet-width-point) {
    .list-products {
        border-bottom: none;
        border-right: none;
        margin-top: -40px;
        margin-bottom: -57px;
        margin-left: -35px;
        margin-right: -35px;
    }
}

@media (max-width: $mobile-width-point) {
    .list-products {
        margin-left: -20px;
        margin-right: -20px;
    }
}
