.news-preview {
    @include row;
    border: 1px solid $gray;
    padding: 20px;
    align-items: flex-start;
    text-decoration: none;
    color: $black !important;

    &:hover {
        .news-preview__img {
            img {
                transform: scale(1.1);
            }
        }

        .news-preview__background {
            opacity: 0.2;
        }

        .news-preview__title {
            &:after {
                transform: scale(1);
            }
        }
    }

    &__img {
        @include col(24, 8, 10, 10);
        border: 1px solid $gray;
        display: inline-block;
        padding: 0;
        overflow: hidden;
        position: relative;

        img {
            display: block;
            width: 100%;
            transition: 0.2s;
            border: none;
            margin-right: 0;
        }
    }

    &__info {
        @include col(24, 16, 14, 14);
        padding: 0 15px 0 30px;
    }

    &__title {
        font-weight: 400;
        margin-bottom: 10px;
        position: relative;
        display: inline-block;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: -1px;
            border-bottom: 1px solid $black;
            transform: scale(0);
            transition: 0.2s;
        }
    }

    &__date {
        color: $red;
        font-size: 14px;
        padding-bottom: 10px;
        backface-visibility: hidden;
    }

    &__text {
        p {
            padding-bottom: 20px;
        }
    }

    &__background {
        background-color: $black;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        z-index: 1;
        transition: 0.2s;
    }

    &:after {
        content: none !important;
    }
}

@media (max-width: $mobile-width-point) {
    .news-preview {
        &__img {
            margin-bottom: 20px;
        }

        &__info {
            padding: 0;
        }
    }
}
