.readmore {
    display: inline-block;
    border: 1px solid $red;
    color: $red;
    font-size: 14px;
    padding: 10px;
    text-decoration: none;
    transition: 0.2s;

    &:hover {
        color: $white;
        background-color: $red;
    }
}
