.detail-portfolio {
    @include row;
    align-items: stretch;
    border-top: 1px solid $gray;
    border-left: 1px solid $gray;
    flex-wrap: wrap;
    margin: 0;

    &__img-block {
        @include col(24, 12, 6, 6);
        padding: 20px;
        border-right: 1px solid $gray;
        border-bottom: 1px solid $gray;
        box-sizing: border-box;
        margin-bottom: 0;

        .img-block__text {
            text-align: left;
        }

        .img-block__cover {
            height: 150px;
        }
    }

    &__cover {
        margin-bottom: 0 !important;
    }
}

@media (max-width: $tablet-width-point) {
    .detail-portfolio {
        border-bottom: none;
        border-right: none;
        margin-top: -40px;
        margin-bottom: -40px;
        margin-left: -35px;
        margin-right: -35px;

        &__img-block {
            width: 25%;
            margin-bottom: 0 !important;
        }
    }
}

@media (max-width: $mobile-width-point) {
    .detail-portfolio {
        margin-left: -20px;
        margin-right: -20px;

        &__img-block {
            width: 50%;
        }
    }
}
