.contact {
    &__logo {
        height: 35px;
        width: 40px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        display: inline-block;
        vertical-align: middle;

        &_phone {
            background-image: url('./phone.png');
        }

        &_mail {
            background-image: url('./mail.png');
        }

        &_address {
            background-image: url('./tip.png');
        }
    }

    &__highlight {
        &_red {
            color: $red;
        }
    }

    &__content {
        font-weight: 500;
        font-size: 22px;
        display: inline-block;
        vertical-align: middle;
    }

    a {
        text-decoration: none;
        color: $black;
        transition: 0.2s;

        &:hover {
            color: $red;
        }
    }
}

@media (max-width: $tablet-width-point) {
    .contact {
        &__logo {
            height: 28px;
            width: 30px;
        }

        &__content {
            font-size: 18px;
        }
    }
}

@media (max-width: $mobile-width-point) {
    .contact {
        &__logo {
            width: 22px;
        }

        &__content {
            font-size: 16px;
        }
    }
}

@media (max-width: $small-mobile-width-point) {
    .contact {
        &__logo {
            width: 20px;
        }

        &__content {
            font-size: 14px;
        }
    }
}
